#app
    // width: 98%
    margin: 0 auto
    // padding-top: 3rem
    header
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 0.5rem
        form
            input
                width: 300px
                height: 3rem
                padding: 0.5rem 1rem
                border: 1px solid #CCCCCCCC
                border-top-left-radius: 5px
                border-bottom-left-radius: 5px
            button
                height: 3rem
                padding: 0.3rem 1rem
                border-top: 1px solid #CCCCCCCC
                border-right: 1px solid #CCCCCCCC
                border-bottom: 1px solid #CCCCCCCC
                border-left: none
                border-top-right-radius: 5px
                border-bottom-right-radius: 5px
                cursor: pointer
                &:hover
                    border-color: #999999
        .right
            display: flex           
            .count
                font-size: 2rem
                font-weight: bold
                margin-right: 1rem
            button
                padding: 0 1rem
                border: 1px solid #CCCCCCCC
                border-radius: 5px
                cursor: pointer
                &:hover
                    border: 1px solid #999999
    .warning
        border: 1px solid #CCCCCCCC
        border-radius: 10px
        padding: 1rem
        margin-bottom: 0.5rem
    .connected
        border: 1px solid #CCCCCCCC
        border-radius: 10px
        padding: 1rem
        margin-bottom: 0.5rem
    .description
        text-align: center
        background-color: #EEEEEE
        border: 1px solid #CCCCCCCC
        border-radius: 10px
        padding: 5rem
        svg
            display: block
            width: 75px
            margin: 0 auto
    .Spreadsheet__table
        width: 100%
        tr
            // th:first-child, td:first-child
            //     width: 2rem
            // th:nth-child(2), td:nth-child(2)
            //     width: 3rem !important
            // th:nth-child(3), td:nth-child(3)
            //     width: 3rem !important
            // th:nth-child(4), td:nth-child(4)
            //     width: 5rem !important
            // th:nth-child(5), td:nth-child(5)
            //     width: 5rem !important
    .books
        border-top: 1px solid #cccccc
        .book
            display: flex
            justify-content: space-between
            align-items: center
            padding: 1rem 0
            border-bottom: 1px solid #cccccc
            .bib
                display: flex
                align-items: center
                img
                    width: 50px
                    margin-right: 1rem
                .title
                    margin-right: 1rem
                .isbn
                    font-size: 0.8rem
            button
                padding: 0 0.5rem
                border: 1px solid #cccccc
                border-radius: 5px
                cursor: pointer
                &:hover
                    border: 1px solid #999999
